@use "../abstracts/functions" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

@use "../base/utilities" as *;

@use "../components/link" as *;
@use "../components/logo" as *;

.menu {
  position: absolute;
  top: 0;
  height: rem(110);
  width: 100%;
  padding: 0 rem(20);
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: rem(10);

  &__overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }

  &__toggle {
    display: none;
  }

  &__navigation {
    @include flexRowCenter;
    gap: rem(30);
    z-index: 10;
  }

  &__list {
    list-style-type: none;
    @include flexRowCenter();
    gap: rem(30);
    color: $clr-white;

    a {
      color: currentColor;
      font-weight: $fw-semibold;
      font-size: rem(16);
      letter-spacing: rem(-0.67);
      @include underlineHoverCenter();
    }
  }

  &-logo-link {
    img {
      width: rem(61);
      height: rem(13);
    }
  }

  @include respondMaxWidth(phone) {
    &-logo-link {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    &__toggle {
      display: block;
      background: transparent;
      border: none;
      width: rem(20);
      height: rem(14);
      background-image: url("./images/icon-hamburger.svg");
    }

    &__toggle[aria-expanded="true"] {
      background-image: url("./images/icon-close.svg");
      width: rem(15);
      height: rem(15);
    }

    &__options {
      display: none;
    }

    .is-expanded & {
      background-color: $clr-white;

      .menu__options {
        display: flex;
      }

      .menu-logo-link {
        display: none;
      }

      .menu__list {
        margin-left: auto;
        display: flex;
        color: $clr-black;
      }
    }
  }

  @include respondMinWidth(phone) {
    & {
      flex-direction: row-reverse;
      justify-content: flex-end;
      gap: rem(50);

      &-logo-link {
        margin-left: rem(20);
      }
    }
  }
}

@include respondMaxWidth(phone) {
  .is-expanded .menu__overlay {
    display: block;
  }
}
