.button {
  border: 1px solid var(--clr-stroke);
  background-color: var(--clr-grey-50);
  color: var(--clr-blue-950-75);
  border-radius: 5px;
  font-size: 15px;
  font-weight: var(--fw-medium);
  padding: 8px 14px;
  line-height: 2;

  @apply cursor-pointer;
}

.button--active,
.button:hover,
.button:active,
.button:focus-visible {
  border-color: transparent;
  background-color: var(--clr-blue-600);
  color: var(--clr-white);
}

.button--alternative,
.button--alternative:hover,
.button--alternative:active,
.button--alternative:focus-visible {
  border-color: transparent;
  background-color: var(--clr-red-400);
  color: var(--clr-white);
}

.button--red {
  background-color: var(--clr-white);
  color: var(--clr-red-400);
  border: 1px solid var(--clr-grey-50);
}

.button--red:hover,
.button--red:active,
.button--red:focus-visible {
  background-color: var(--clr-red-400);
  color: var(--clr-white);
}
