@use "../abstracts/functions" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.about-us {
  @include flexColumnCenter();
  align-items: stretch;

  &__image {
    aspect-ratio: 376 / 238;
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-height: rem(238);
  }

  &__content {
    @include flexColumnCenter();
    align-items: flex-start;
    gap: rem(15);
    padding: rem(49) rem(33) rem(45);
    transition: all 2s ease-in-out;
  }

  &__title {
    font-weight: $fw-bold;
    letter-spacing: rem(5.83);
    font-size: rem(14);
    line-height: 1.5714285714;
    text-transform: uppercase;
  }

  &__description {
    font-weight: $fw-medium;
    font-size: rem(16);
    letter-spacing: rem(-0.33);
    line-height: 1.375;
    color: $clr-grey;
  }

  @include respondMinWidth(tab-port) {
    flex-direction: row;
    align-items: stretch;

    &__image-container {
      flex: 1 1 0;
    }

    &__image {
      aspect-ratio: 440 / 266;
      max-height: rem(266);
      height: 100%;
    }

    &__title {
      font-size: rem(16);
      letter-spacing: rem(6.67);
      line-height: 1.375;
    }

    &__content {
      justify-content: flex-start;
      flex: 0 0 40%;
      padding: rem(30);
    }
  }

  @include respondMinWidth(tab-land) {
    &__content {
      justify-content: flex-start;
      padding: rem(60) rem(48) 0;
    }
  }
}
