:root {
  --clr-white: #ffffff;
  --clr-black: #000000;

  --clr-blue-950: #242a45;
  --clr-blue-950-90: rgba(36, 42, 69, 0.9);
  --clr-blue-950-75: rgba(36, 42, 69, 0.75);
  --clr-blue-950-14: rgba(36, 42, 69, 0.14);
  --clr-blue-600: #5267df;

  --clr-grey-600: #5b6074;
  --clr-grey-50: #f7f7f7;

  --clr-stroke: #979797;

  --clr-red-400: #fa5959;

  --default-font-size: 18px;

  --ff: "Rubik", sans-serif;

  --fw-thin: 100;
  --fw-extralight: 200;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;
  --ls-sm: -0.5px;
  --ls-md: 0px;
  --ls-lg: 0.5px;
  --ls-xl: 1px;
  --ls-xxl: 2px;
}
