.features__title {
  text-align: center;
}

.features__description {
  text-align: center;
  margin-inline: auto;
  transition: width 0.5s ease-in-out;
}

.features__figure {
  width: 254.74px;
  heigth: 220px;
  aspect-ratio: 254.74 / 220;
  scale: 1;
  margin-bottom: 10px;
}

.features__figure::after {
  width: 577px;
  height: 165px;
  transform: translateX(-60%) translateY(27px);
}

@media screen and (min-width: 25em) {
  .features__figure {
    width: 67.55319%;
    max-width: 536px;
    heigth: auto;
    max-heigth: 346px;
    aspect-ratio: 536 / 346;
    margin-bottom: 50px;
  }

  .features__figure::after {
    width: 577px;
    height: 100%;
    transform: translateX(-75%) translateY(27px);
  }
}

@media screen and (min-width: 34em) {
  .features__figure {
    margin-bottom: 70px;
  }

  .features__figure::after {
    transform: translateX(-50%) translateY(20%);
  }

  .feature__description {
    max-width: 47ch;
  }
}

@media screen and (min-width: 48em) {
  .features__title {
    font-size: 32px;
    line-height: 1.625;
    letter-spacing: -0.1px;
  }

  .features__description {
    max-width: 47ch;
  }

  .features__figure {
    width: 536px;
    heigth: 346px;
    margin-right: 0;
    aspect-ratio: 536 / 346;
  }

  .features__figure::after {
    width: 1000px;
    transform: translateX(-50%) translateY(20%);
  }
}

@media screen and (min-width: 90em) {
  .features__figure::after {
    mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 90%,
      black 100%
    );
    -webkit-mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 90%,
      black 100%
    );

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
