.header .logo {
  color: var(--clr-blue-950);
}

.header__nav-link {
  display: inline-block;
  font-size: 14px;
  font-weight: var(--fw-normal);
  text-transform: uppercase;
  letter-spacing: 0.25px;
  line-height: 2;
  padding: 4px;
  border-radius: 5px;
  transition: color 0.5s;
}

.header__nav-item:hover {
  color: var(--clr-red-400);
}

.header__nav-link--login:hover {
  background-color: var(--clr-red-400);
  color: var(--clr-white);
}

@media screen and (max-width: 50em) {
  .header__nav-link {
    font-size: 20px;
    padding-block: 15px;
  }

  .header__nav-item {
    padding-block: 10px;
    border-top: 1px solid var(--clr-grey-600);
  }

  .header__nav-item:nth-child(3) {
    border-bottom: 1px solid var(--clr-grey-600);
  }

  .header__nav-item--login {
    border-top: none;
    margin-top: 20px;
  }

  .header__nav-list {
    display: none;
    color: var(--clr-white);
  }

  body.is-expanded {
    overflow: hidden;
  }

  body::after {
    content: "";
    position: fixed;
    inset: 0;
    background-color: var(--clr-blue-950-90);
    transform: translateY(-100%);
    transition: all 1s;
  }

  body.is-expanded {
    padding-top: 69px;
    z-index: 1;
  }

  body.is-expanded .header .container {
    position: fixed;
    z-index: 2;
    top: 0;
  }

  body.is-expanded .header__logo .logo {
    color: var(--clr-white);
  }

  body.is-expanded .header__nav-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 120px;
    left: 0;
    width: 100%;
    text-align: center;
    padding-inline: 20px;
  }

  body.is-expanded::after {
    transform: translateY(0);
  }

  body.is-expanded .footer__social-network {
    position: fixed;
    z-index: 1000;
    bottom: 10%;
    left: 0;
    width: 100%;
  }

  body.is-expanded .header__nav-link--login {
    padding: 4px 22px;
    color: var(--clr-white);
    border: 2px solid var(--clr-white);
    width: 100%;
  }
}

@media screen and (min-width: 50.0625em) {
  .header__toggle {
    display: none;
  }

  .header__nav-list {
    display: block;

    @apply flex flex-row items-center gap-12;
  }

  .header__nav-link--login {
    padding: 4px 22px;
    background-color: var(--clr-white);
    color: var(--clr-red-400);
    border: 1px solid var(--clr-red-400);
  }
}

@media screen and (min-width: 90em) {
  .header__nav {
    margin-right: 90px;
  }
}
