.hero {
  color: var(--clr-blue-950);
}

.hero__figure {
  width: 311px;
  height: 206px;
  scale: 1.2;
}

.hero__figure::after {
  width: 577px;
  transform: translateX(45px) translateY(40px);
}

.hero__title {
  text-align: center;
}

.hero__description {
  text-align: center;
}

.hero__actions {
  @apply flex flex-row justify-center items-center gap-3;
}
