.section-title,
.section-subtitle,
.section-description {
  transition: font-size 0.5s ease-in-out, line-height 0.5s ease-in-out;
}

.section-title {
  font-size: 30px;
  font-weight: var(--fw-medium);
  line-height: 1.35;
}

.section-subtitle {
  font-size: 24px;
  font-weight: var(--fw-medium);
  line-height: 2;
}

.section-description {
  font-size: 15px;
  font-weight: var(--fw-normal);
  line-height: 1.6666666667;
}

@media screen and (min-width: 48em) {
  .section-title {
    font-size: 48px;
    line-height: 1.1;
  }

  .section-description {
    font-size: 18px;
    font-weight: var(--fw-normal);
    line-height: 1.5555555556;
  }
}
